* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: none;
    box-sizing: border-box;
    font-family: var(--default-font);
}
select:focus { outline: 0 }

/*Declarando as variáveis*/
:root {
    --gradient-green: linear-gradient(to right, #228054, #0d476d);
    --primary-color: #fff;
    --secondary-color: #000;
    --highlight-text: #48b189;
    --default-font: Typo Formal;
}